body { font-family: 'Bitter', serif;
    font-family: 'Domine', serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;}
/* page-title-element */
/* first-container */

.first-container {background-color:#2D25A0;
                  }
.page-header { display: flex;
             }  
.title    {margin-left: 50px;
           margin-top: 50px; 
           padding-left: 70px;
           position: relative;
           animation: sliding 1s ease-in-out 0.5s 4 alternate;
           animation-play-state: running;
           }
.title:hover {transform: rotate(360deg);
                transition: transform 2s;
                }
@keyframes sliding { 
            from {left:0;}
            to {left:300px;}
             }
h1 { font-size: 40px;
     color:white;
     }
.heading {white-space: nowrap;
          }
.link-button {color: white;
              background-color: #E02C6D;
              padding:10px 10px ;
              }
.footballer img {width:500px;
                 height:438px ;
                 margin-left:300px;
                 }

/* second-container */

.second-container { margin: 50px 110px;}
.player-identity { display: grid;
                   grid-template-columns: repeat(3,1fr);
                   grid-row-gap:40px;
                   }
.player{width: 300px;
        padding: 10px;
        margin-left:27px;
        box-shadow: 1px 1px 5px;}
.player img { width:300px;
              height:300px;}

/* third-container */

.third-container {margin-left:60px;
                  margin-top:100px;}
.highlight-title {font-size: 50px;}
.highlight-gallery {display: grid;
                    grid-template-columns: repeat(3,1fr);}
.highlight-content {width: 300px;
                    height: 450px;
                    border: 2px solid lightgray;}
.highlight-content img {width:300px;
                        height:300px;}
.highlight-content a  {text-decoration:none;}

/* fourth-container */

.fourth-container {margin-left:60px;}
.album-title {font-size: 50px;}
.album {display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:20px;}
.gallery-image img { width: 300px;
                     height:300px;}
/* responsive */
@media only screen and (max-width:400px) {
        .footballer img {width: 100%;
                         margin-left: 10px;}
        .page-header,.player-identity,.highlight-gallery,.album {
                      grid-template-columns: repeat(1,1fr);
                      flex-direction: column;}
}
/* footer */
.footer-image-icons { margin-top: 100px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
        }
.logo img { width:300px;
            height: 100px;}
p {text-align: center;}




